/*
 * Common behavior keymap for rolling-combos tests.
 * Board: native_sim (2x2 matrix, positions 0-3)
 *
 * Position map:
 *   0(A) 1(B)
 *   2(C) 3(D)
 */

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp A &kp B
                &kp C &kp D
            >;
        };
    };
};
